.content {
    width: 1220px;
    height: 700px;
    position: flex;
    margin: 50px 350px;
    background-color: #f3f3f3;
    border: 1px solid #000000; 
    border-radius: 20px;
    font-family: "GothamPro";
}