.current-container {
    width: 340px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.41);
    font-family: "GothamPro";
    float: left;
    text-align: left;
    padding-left: 25px;
}

.temp-description {
    display: flex;
    justify-content: space-between; 
}

.icon-description {
    margin-right: 20px;
}

.description {
    margin: 7px 0;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.temp {
    font-family: "GothamPro";
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.location {
    font-weight: bold;
}

.hr {
    margin-right: 25px;
}