.current-container {
    width: 340px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.41);
    font-family: "GothamPro";
    float: left;
    text-align: left;
    padding-left: 25px;
}

.temp-description {
    display: flex;
    justify-content: space-between; 
}

.icon-description {
    margin-right: 20px;
    margin: auto;
}

.description {
    margin: 7px 0;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.temp {
    font-family: "GothamPro";
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.location {
    font-weight: bold;
}

.hr {
    margin-right: 25px;
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .current-container {
        width: 855px;
        height: 180px;
        display: flex;
        justify-content: space-around;
    }

    .temp-description {
        display: flex;
        justify-content: space-between; 
    }

    .temp {
        font-size: 30px;
    }
    
    .icon-description {
        text-align: center;
        margin: auto;
    }

    .data-description {
        margin: auto 0;
        padding-left: 15px;
        border-left: 1px solid #919090d0;
    }
    
    .hr {
        display: none;
    }
}